.Main {
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #bbb;
    color: #ffffff;
  
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: top;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6) 35%,
        rgba(0, 0, 0, 0.3)
      ),
  }
  
  .main-logo {
    width: 11rem;
    height: 11rem;
    margin-top: 5%;
  }
  
  .title-box {
    text-align: center;
  }
  
  .Main h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    word-spacing: 0.3rem;
    font-size: 3.6rem;
  
    padding: 0.3em 1.4em;
    /* border: 7px solid #ffffff; */
    margin: 0;
  }
  
  .Main h2 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    word-spacing: 0.3rem;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 0;
  }
  
  .Main .title-box::after {
    content: '';
    border-top: 2px solid #ffffff;
    width: 100%;
    display: block;
    margin: 0 auto 1.5rem;
  }
  
  .social-box {
    display: flex;
  }
  
  .social-box a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
  }
  
  .social-box a span {
    font-size: 0.9rem;
    color: transparent;
    transition: 300ms ease-in-out;
  }
  
  .social-box a:hover {
    transform: scale(1.25);
  }
  
  .social-box a:hover span {
    color: inherit;
  }
  
  @media screen and (max-width: 425px) {
    .Main h1 {
      padding: 0.9rem 0;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      word-spacing: 0.1rem;
    }
    .Main h2 {
      font-size: 1.3rem;
      letter-spacing: 0.4rem;
      word-spacing: 0;
      padding: 0.8rem 0;
    }
    .Main-logo {
      width: 8rem;
      height: 8rem;
      margin-top: 8%;
    }
    .social-box a {
      margin: 0 10px;
    }
    .social-box a span {
      margin: 5px 0;
      color: inherit;
    }
  }
  